window{
    background-image: url("/usr/share/backgrounds/archlinux/gritty.png");
    /* background-image: url("/home/carlos/.config/wallpapers/developer-001_1920x1080.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
