window{
    background-image: url("/usr/share/backgrounds/archlinux/gritty.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
